---
- name: Ensure service is started/stopped
  service: name=corosync state={{ corosync_service_state }} enabled={{ corosync_service_enabled }}
  tags:
   - corosync
   - service

- name: Enable corosync service in default
  sudo: yes
  lineinfile: backrefs=yes backup=yes line='START=yes' regexp='^START=no' dest=/etc/default/corosync
  when: "ansible_os_family == 'Debian'"
